  <div class="container">
<% provide(:title, '管理员登陆') %>
<h1>管理员登录</h1>
    <div class="row">
        <div class="span6 offset3">
      <%= form_tag "/create_login_session" do %>
          <%= label_tag "用户名" %>
          <%= text_field_tag :name, params[:name] %>
          <%= label_tag "密码" %>
          <%= password_field_tag :password, params[:password] %>
         <%= submit_tag "登录", :class => "btn btn-large btn-primary" %> 
      <% end %>
    </div>
  </div>
