<h1>Wifi节点列表</h1>

<ul class="users">
  <%= will_paginate %>
  <% @access_nodes.each do |access| %>
    <li>
    <% if access.last_seen && Time.now-access.last_seen < 60 %>
      <%= link_to image_tag("work.png", size:"52x52" ) %>
    <% else %>
      <%= link_to image_tag("stop.png", size:"52x52" ) %>
    <% end %>
    <%= link_to access.mac, access %> | <%= link_to "删除节点", access, method: :delete, data: { confirm: "确认删除?" } %>
    </li>
  <% end %>
  <%= will_paginate %>
</ul>



