<% provide(:title, @access.name) %>
<div class="row">
  <aside class="span4">
  <section>
  <h1>
    <% if @access.last_seen && Time.now-@access.last_seen < 60 %>
      <%= link_to image_tag("work.png", :id => 'gravatar' ) %>
    <% else %>
      <%= link_to image_tag("stop.png", :id => 'gravatar' ) %>
    <% end %>
    <%= @access.mac %>
  </h1>
  <span>
     上行带宽:<%= convert_to_human(@access.total_up)  %>
  </span>
  <span>
  下行带宽:<%= convert_to_human(@access.total_down) %>
  </span>
  </section>
     <section>
     <%= render :partial =>'config_form' %>
      </section>
  </aside>
  <div class="span8">
    <% if @connections.any? %>
      <h3>链接数 (<%= @connections.count %>)</h3>
      <ol class="connections">
        <%= render :partial => 'connection', :collection => @connections %>
      </ol>
      <%= will_paginate @connections %>
    <% end %>
  </div>
</div>
